<!DOCTYPE html>
{% extends 'base.html' %}
{% block body_block %}

<h1>Welcome to login page</h1>
<h1>Login here</h1>
<form  action="{% url 'first_app:user_login'%}" method="POST"> <!--action leads it to ++basic_app:user_login++ which has--> <!--login function in views.py and also see LOGIN_URL='/basic_app/user_login' user_login is a path in urls.py-first_app-->
	{%csrf_token%}<!--for the secuirity-->

	<label for='id1'>Username </label>
	<input id='id1' type="text" name="username" placeholder="Enter your Username">
	<label for='id2'>Password </label>
	<input id='id2' type="password" name="password">

	<input type="submit" name="Login">
 </form>


{% endblock %}