<!DOCTYPE html>

{%extends 'base.html'%} <!--please extends from base.html-->
	{%block body_block%}
		<h1>This is relative url template.html</h1><!----app_name='first_app'---- is done in url.py(first_app) just join htmls in template by anchor tag using link in page and not using /relative_url_template.html...etc--<a href="{ url 'first_app:relative_url_template1' }">-->
			
		<a href="{% url 'first_app:relative_url_template1' %}">Go to relative_url_template1</a><br><!--there should no space in ---'first_app:relative_url_template1'-->
		<a href="{% url 'admin:index' %}">Go to admins's index</a><br><!--it is our admin's index page-->
		<!--go to settings.py and see in installed app there is 'first_app'  and django.conf.admin-->
		<a href="{% url 'index'%}">Go to index.html</a> <!--if index.html is home page it will take us back to home..-->
		<!--it is our home page not need special thing to link it -->
			
	{%endblock%}


